#root {
    text-align: center;
    text-justify: inter-word;
}

body {
    font-family: 'Open Sans', sans-serif;
    size: 15px;
    background-color: #D7CeC7;
    color: #565656;
}

h1, .olsw {
    font-family: 'Coiny', sans-serif;
}

 #cifCes, #choose, #codeStr, #decodeStr, #goIntro, #result, #resultMessage  {
    display: none;
}

.boton {
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    color:  #D7CeC7;
    background-color: #76323F;
    border-radius: 10px;  
    border-color: #76323F;
}

.boton:hover {
    color: rgb(7, 3, 17);
    background-color: #C09F80;
    border-color: #C09F80;
}

#offsetEncode, #offsetDecode {
    width : 50px;
}

.toDecode, .toCode {
    vertical-align: middle;
    margin: 10px;
}

#result {
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    border: thin;
    border-color: #565656;
    float: none;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #C09F80;
    color: #565656;
    font-size: 30px;
}