* {
  margin: 0 auto;
}

#root {
  text-align: center;
  text-justify: inter-word;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  background-color: #9bc4b8;
  height: 100%;
}

#image, #img {
  width: 100%;
}

h1 {
  font-size: 3.5em;
  color: #010102;
  height: 5%;
  padding: 1%;
  margin: 0;
}

h1,
.olsw {
  font-family: 'Coiny', sans-serif;

}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  color: #010102;
  content: 2%;
  padding: 3%;
}

#cifCes,
#codeStr,
#decodeStr,
#goIntro,
#result,
#resultMessage,
#basicExpl,
#clear {
  display: none;
}

.boton {
  padding: 2%;
  font-weight: 600;
  font-size: 1.5em;
  color: #030608;
  background-color: #be6a52;
  border-color: #be6a52;
  border-radius: 2%;
  margin: 2%;
}

.boton:hover {
  color: #e2e5e7;
  background-color: #473928;
  border-color: #473928;
}

#offsetEncode,
#offsetDecode {
  width: 50px;
}

.toDecode,
.toCode {
  vertical-align: middle;
  margin: 10px;
}

#result {
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  border: 5px dotted #39263f;
  float: none;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #ab6cbe;
  color: #030608;
  font-size: 30px;
  font-family: 'Anton', sans-serif;
}

.icon-arrow-repeat-outline:before {
  content: "\e900";
}

.icon-key:before {
  content: "\e901";
}

.icon-bubbles4:before {
  content: "\e970";
}

.icon-lock:before {
  content: "\e98f";
}

.icon-unlocked:before {
  content: "\e990";
}

.icon-share2:before {
  content: "\ea82";
}

.icon-mail4:before {
  content: "\ea86";
}

.icon-facebook2:before {
  content: "\ea91";
}

.icon-whatsapp:before {
  content: "\ea93";
}
