#root {
    text-align: center;
    text-justify: inter-word;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E6DEF7;
    color: #0C0221;
}

h1, #OLSW {
    font-family: 'Coiny', sans-serif;
}

